body {
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* width: 100%; */
  border-bottom: 0.02px solid rgba(155, 154, 154, 0.471);
  padding: 1.2rem;
}
.nav img {
 /* margin-left: 18rem; */
  margin-right: 53rem;
  width: 150px;
  height: 20px;

}
.options{
  margin-right: 0rem;
}
.bodyimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px black solid; */
  padding: 0px;
  width: fit-content;
  height: 60vh;
  margin-left: 25rem;
  margin-top: 3rem;
}
.bodyimg img {
  align-items: center;
  justify-content: center;
  width: 950px;
  height: 400px;
}
h1{
  font: inherit;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
h6{
  margin-top: 0px;
  font: inherit;
  font-size: 1.5rem;
  margin-bottom: 2.75rem;
}
button{
  background-color: rgba(0, 100, 188, 0.92);
  color:white;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  border-radius: 0.31rem;
  padding: 0.72rem;
  cursor: pointer;
  transition: all 2s;
}
button:hover{
  transform:rotate(360deg);
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
